body{
    margin: 0;
    background-color: black;
  }
 
    .imgs {
      width: 1500px;
      height: 500px;
    }
    .carousel-inner{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 500px;
    }
    .search-bar{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .textbox{
      width: 300px;
      height: 30px;
    }
    .btnsearch{
      font-size: 1.0rem;
      width: 50px;
      height: 30px;
    }
    .boxoffice{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .boxoffice-slide{
      position: relative;
      width: 400px;
      height: 400px;
      margin-right: 10px;
    }
   .hidden{
    display: none;
  }
  .star{ 
    position: absolute;
    top: 0;
    right: 0;
  }
    @media screen and (max-width: 750px){
      .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
      }
      .navbar__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .navbar__menu li{
        width: 100%;
        text-align: center;
      }
      .navbar__icons{
          justify-content: center;
          width: 100%;
      }
      .navbar__toglebtn{
        display: block;
        color: tomato; 
      }
   }