.world {
    display: flex;
    align-items: center;
    justify-content: center;
    /* perspective: 500px; */
}

body{
    margin: 0;
    background-color: black;
  }
  a{
      text-decoration: none;
      color: white;
    }
    .navbar {
      display: flex;
      justify-content:space-between;
      align-items: center;
      background-color: black;
      padding: 8px 12px;
    }
    .navbar__logo{
      font-size: 24px;
      color: white;
      margin-left: 20px;
    }
    .navbar__menu{
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-left: 400px;
    }
    .navbar__menu li {
      margin-right: 30px;
      padding: 8px 12px;
      text-decoration: none;
    }
    .navbar__menu a {
      text-decoration: none;
    }
    .navbar__menu a:hover{
      color: red;
    }
     .navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-left: 400px;
  }
    .navbar__menu li:hover {
      border-radius:8px;
    }  
    .moive-recommendation{
      display: flex;
    }
    .movie-text{
      display: flex;
      align-items: center;
      border-right:0.5px solid black;
      padding: 10px;
      background-color: black;
      font-size: 1.5rem;
      color: white;
    }
    .movie-list{
      display: flex;
      background-color: black;
      list-style: none;
    }
   
    .navbar__icons{
      list-style: none;
      color: white;
      display: flex;
      margin-left: 300px;
    } 
    .navbar__icons li {
      padding: 8px 12px;
    }
    .navbar__toglebtn{
      display: none;
      position: absolute;
      right: 32px;
      font-size: 24px;
      color: #000000;
    }
  
    .navbar__logo img{
      width: 100px;
      height: 40px;
    }
  
    .imgs {
      width: 1500px;
      height: 500px;
    }
    .carousel-inner{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 500px;
    }
    .search-bar{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .textbox{
      width: 300px;
      height: 30px;
    }
    .btnsearch{
      font-size: 1.0rem;
      width: 50px;
      height: 30px;
    }
    
   .hidden{
    display: none;
  }
 
 
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .gallery {
    background: black;
    
    
  }
  
  .gallery-cell {
    width: 300px;
    height: 400px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(500px) rotateY(20deg);
  }
  
  
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  
  .flickity-prev-next-button.previous {
    left: 10px;
  }
  
  .flickity-prev-next-button.next {
    right: 10px;
  }
  
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  /* .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #EEE;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  } */
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  
    @media screen and (max-width: 750px){
      .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
      }
      .navbar__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .navbar__menu li{
        width: 100%;
        text-align: center;
      }
      .navbar__icons{
          justify-content: center;
          width: 100%;
      }
      .navbar__toglebtn{
        display: block;
        color: tomato; 
      }
   }