
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 14px;
    border-top: 2px solid gray;
    
   
}
.footer__logo{
    width: 200px;
    height: 80px;
    margin-left:30px;
}
.img{
    width: 100%;
    height: 100%;
}
.footer__menu{
    display: flex;
    justify-content: center ; 
    margin-left: 140px;
}
.footer li {
    padding: 8px 12px;
    list-style: none;
    margin-left:50px;
}

.footer__menu a{
    color: gray;
    text-decoration: none;
}
.footer__menu a:hover{
    cursor: pointer;
    color: rgb(231, 20, 20);
}

