.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background: black;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  z-index: 1;
}
.btn {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.btnlogin {
  margin-right: 30px;
}
.id {
  width: 200px;
  height: 30px;
}
.pw {
  width: 200px;
  height: 30px;
}
.CheckPW {
  width: 200px;
  height: 30px;
}
.margin{
  margin:15px;
}
.margin-left{
  margin-left: 15px;
}
.hidden{
  display: none;
}
.show{
  color: red;
}
.show2{
  color: blue;
}
  