html{
  height: 100vh;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;


}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  z-index: 1;
}
.btn {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.btnlogin {
  margin-right: 30px;
}
.id {
  width: 200px;
  height: 30px;
}
.pw {
  width: 200px;
  height: 30px;
}
.CheckPW {
  width: 200px;
  height: 30px;
}
.margin{
  margin:15px;
}
.margin-left{
  margin-left: 15px;
}
.hidden{
  display: none;
}
.show{
  color: red;
}
.show2{
  color: blue;
}
a{
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #4b61e0;
  padding: 8px 12px;
}
.navbar__logo{
  font-size: 24px;
  color: white;
}
.navbar__menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: white;
  border-radius:8px;
}  
.input-type{
  background-color: black;
  border: 1px solid white;
  color: white;
}
.btn-login{
  background-color: black;
  color: white;
  border: 1px solid white; 

}
.btn-join{
  border: 1px solid white; 
  background-color: black;
  color:white
}
@media screen and (max-width: 750px){
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li{
    width: 100%;
    text-align: center;
  }
}