.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 200px;
    height: 80px;
}

.img {
    width: 100%;
    height: 100%;
}

.footer__menu {
    display: flex;
    justify-content: center;
    margin-left: 140px;
}

.footer li {
    padding: 8px 12px;
    margin-left: 50px;
}

.footer__menu a {
    color: gray;
    text-decoration: none;
}

.footer__menu a:hover {
    cursor: pointer;
    color: rgb(231, 20, 20);
}

.icon-bag a {
    margin-left: 30px;
    color: gray;
}