html {
    height: 100vh;
}

body {
    height: 100vh;
    background-color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 100%;
}

.input__email {
    width: 300px;
    height: 30px;
}

.input__pw {
    width: 200px;
    height: 30px;
}

.logo-img {
    width: 700px;
    height: 350px;
}

.btn__signup {
    width: 100px;
    height: 30px;
}

.btn__login {
    width: 100px;
    height: 30px;
}