.movie-text{
    display: flex;
    align-items: center;
}
.boxoffice{
    display: flex;
}
.star{ 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .boxoffice-slide{
    position: relative;
    width: 400px;
    height: 400px;
    margin-right: 10px;
  }