.modal-body{
    display: flex;
    align-items: center;
  }
  a{
    color: white;
  }
  .gallery {
    background: black;
    height: 1000px;
  }
  
  .gallery-cell {
    width: 300px;
    height: 400px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(500px) rotateY(20deg);
  }
  