a{
    color: white;
}
.navbar{
    display: flex;
    height: 75px;
    z-index: 10;
}
.navbar__logo{
    width: 100px;
    height: 50px;
}
 .fas{
    position:absolute;
    right: 320px;
    color: white;
 }
 .navbar__menu li{
     margin-right: 30px;
    float: left;
}
.navbar__menu{
    margin-left: 260px;
}
.navbar__menu a:hover{
    color: red;
  }
  .textbox {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.btnsearch {
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-right: 20px;
}